<h1>People who have voted for this:</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @votes.each do |vote| %>
  <tr>
    <td><%= User.find_by_id(vote.user_id).fname %></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
</table>

<br />

